html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    background: linear-gradient(to right, #003366 0%, #004D99 27%, #0066CC 73%);
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
