/* Form-specific styles */
.register-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #14375A 0%, #1F548A 84%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Ensuring text color is readable on dark background */
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Label text color */
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff; /* Input background color */
    color: #333; /* Input text color */
}

.register-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.register-form button:hover {
    background-color: #0056b3;
}

.login-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, #14375A 0%, #1F548A 84%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Ensuring text color is readable on dark background */
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Label text color */
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff; /* Input background color */
    color: #333; /* Input text color */
}

.login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #0056b3;
}